@import '../../style/mixins'
@import '../../style/variables'

.page_wrapper
    background-color: $wrapper-color
    padding: 100px 0 


.best-doner
    &__container
        margin: 0 auto
        padding: 50px 40px 
        width: 75%
        height: fit-content
        display: flex
        flex-direction: column
        gap: 50px
        border-radius: 10px
        background-color: $container-color

    &__title
        font-size: 40px
        font-weight: 400
        margin-bottom: 30px
        border-bottom: 1.2px solid #e0e0e0



    &__about
        margin-top: 20px
        line-height: 1.7
        font-weight: 300
        font-size: 19px
        padding-bottom: 30px
        