
    
    
.cards-skeleton
    height: 400px
    display: flex
    justify-content: space-evenly
    align-items: center
    width: 100%
    margin: 100px auto 50px auto

.cards-slider-skeleton
    height: 300px
    display: flex
    justify-content: space-evenly
    align-items: center
    width: 85%
    margin: 50px auto 50px auto

.doner-cards-skeleton
    display: flex
    flex-direction: column
    justify-content: space-evenly
    height: 500px
    width: 100%
    margin: 0 auto

.page-skeleton
    height: 1000px
    width: 80%
    margin: 100px auto

.review-item-skeleton
    width: 60%
    margin-bottom: 50px

    &__header
        justify-content: space-between
    &__text
        margin-top: 20px
        justify-content: space-between
        

.bloger-profile-page-skeleton
    padding-top: 150px
    min-height: 800px
    width: 80%
    margin: 0 auto
    margin-bottom: 100px

.bloger-badge-skeleton
    height: 60px
    &__circle
        min-height: 60px
        min-width: 60px



