@use "../../style/mixins";
@use "../../style/variables";

.events-list {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 60%;
    }
}

@media (max-width: 980px) {
    .events-list {
        &__container {
            width: 80%;
        }
    }
}

@media (max-width: 768px) {
    .events-list {
        &__container {
            width: 90%;
        }
    }
}

@media (max-width: 480px) {
    .events-list {
        &__container {
            width: 100%;
            gap: 20px;
        }
    }
}
