.one {
    height: 300px;
    width: 300px;
    background-color: red;
}

.two {
    height: 300px;
    width: 300px;
    background-color: blue;
}
.one.some {
    width: 200px;
}
.add {
    width: 500px;
}
