@import "../../style/variables"
    


    
.restaurants-tabs
    &__container
        width: 90%
        margin: 0 auto
        color: $primary-text
        min-height: 400px


    &__description
        margin-top: 20px
        font-weight: 300
        font-size: 17px
        margin-right: 200px
        line-height: 1.5
        white-space: pre-wrap
        
    &__menu
        a
            text-decoration: none
            color: inherit

    &__feedback
        display: flex
        flex-direction: column
        gap: 50px



