@use "../../style/variables";
@use "../../style/mixins";

.find-restaurant {
    &__container {
        margin: 100px auto 0 auto;
        margin-top: 100px;
        width: 80%;
        min-height: 500px;
        color: variables.$primary-text;
        margin-bottom: 100px;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: variables.$green-divider;
    }
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 300;
    }
    &__search {
        font-size: 1.3rem;
        font-weight: 300;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        &_wrapper {
            display: flex;
            align-items: center;
        }
    }
    &__results_title {
        margin-top: 70px;
        font-size: 2rem;
        font-weight: 300;
    }

    &__results_output {
        margin-top: 70px;
        width: 80%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        span {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}
