.comments {
    &__add-form {
        margin-bottom: 40px;
    }

    &__reply {
        position: relative;
        font-style: italic;
        background-color: #d5d5d5;
        min-width: 150px;
        max-width: fit-content;
        padding: 5px 10px;
        margin-bottom: 20px;
        font-weight: 300;
        color: grey;
        &_cancel {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
