.comments {
    &__add-form {
        margin-bottom: 40px;
    }

    &__reply {
        position: relative;
        font-style: italic;
        background-color: #ededed;
        width: fit-content;
        min-width: 250px;
        max-width: 500px;
        padding: 10px 20px 25px 20px;
        margin-bottom: 20px;
        font-weight: 300;
        color: grey;
        &_name {
            margin-top: 10px;
            font-weight: 400;
        }
        &_text {
            margin-top: 5px;
        }
    }
}
