@use "../../style/mixins";
@use "../../style/variables";

.profile-page {
    min-height: 800px;
    width: 80%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
    &__title {
        font-size: 2.5rem;
        font-weight: 300;
    }
    &__header {
        margin-top: 50px;
        display: flex;
        &_avatar {
            height: 90px;
            width: 90px;
            img {
                border-radius: 100%;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        &_greet {
            margin-left: 40px;
            margin-top: auto;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 300;
        }
    }
    &__userdata {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
        &_item {
            display: flex;
            min-height: 30px;
            margin: 5px 0;
            img {
                height: 200px;
                width: 200px;
                margin-left: 70px;
                object-fit: cover;
                margin-bottom: 30px;
                border-radius: 7px;
            }
        }
        .change-password {
            margin-top: 30px;
        }
    }
    &__data-field {
        width: 25%;
        text-align: right;
    }

    &__data-value {
        width: 75%;
        font-style: italic;
        font-weight: 300;
        padding-left: 40px;
        position: relative;
    }

    &__add-blog-post {
        @include mixins.addPostButton;
        width: 200px;
        margin: 0 auto;
    }

    &__blog-title {
        font-weight: 300;
        font-size: 2.5rem;
        margin: 50px 0 10px 100px;
    }
    &__blog-subtitle {
        font-weight: 300;
        font-size: 1.4rem;
        font-style: italic;
        margin-left: 100px;
        margin-bottom: 30px;
        color: #848484;
    }

    &__blog-start {
        display: flex;
        flex-direction: row;
        line-height: 30px;
        margin-bottom: 30px;
        &_label {
            margin-left: 100px;
            font-weight: 300;
        }
        &_checkbox {
            display: flex;
            align-items: center;
            margin-left: 15px;
            input {
                height: 16px;
                width: 16px;
            }
        }
    }

    &__blog_form {
        margin-left: 100px;
        &.hide-with-animation {
            visibility: hidden;
            max-height: 0;
            opacity: 0;
            transform: translateY(-50px);
            transition: opacity 0.5s, max-height 0.2s, transform 1s;
            margin-top: -50px;
        }
        &.show-with-animation {
            visibility: visible;
            max-height: 100vh;
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s 0.2s, max-height 1s, transform 1s;
        }
    }
}

.upload-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    &_label {
        font-weight: 300;
        font-style: italic;
    }
    &_button {
        margin-left: 20px;
    }
    &_name {
        margin-left: 10px;
        font-style: italic;
        color: #525252;
        text-decoration: underline;
        font-weight: 300;
    }
}
.change-avatar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-button {
    color: variables.$primary-text;
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;

    &_icon {
        margin-left: 5px;
        font-size: 1.3rem;
    }
}
.limited-length_field {
    position: relative;
    height: fit-content;
    width: fit-content;

    .letters-count {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 0.9rem;
        color: #7b7b7b;
    }
    .single-field {
        margin-bottom: 5px;
    }

    &_helper-text {
        margin-top: -5px;
        margin-bottom: 10px;
        color: red;
        font-size: 0.9rem;
    }
}
