@use "../../style/variables";

.rest-side-info {
    &__rating {
        font-size: 1.7rem;
        margin-top: 20px;
        margin-left: 30px;
        span {
            color: rgb(138, 191, 82);
        }
        &_stars-and-marks {
            display: flex;
            align-items: center;
        }

        &_marks-amount {
            font-weight: 300;
            font-size: 1.4rem;
            margin-left: 5px;
            transform: translateY(-3px);
        }
    }
    &__items-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
    &__item {
        font-size: 1.2rem;
        margin-left: 30px;
        margin-right: 20px;
        span {
            font-size: 1rem;
            font-weight: 300;
        }
        .subway {
            display: block;
        }
    }
}

@media (max-width: 980px) {
    .rest-side-info {
        &__items-wrapper {
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            grid-auto-rows: minmax(50px, 1fr);
            gap: 20px;
        }
    }
}
@media (max-width: 768px) {
    .rest-side-info {
        &__items-wrapper {
            grid-template-columns: repeat(3, minmax(100px, 1fr));
        }
    }
}
@media (max-width: 480px) {
    .rest-side-info {
        &__items-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
    }
}
