@import "../../style/variables"


.rest-side-info
    &__container 
        width: 25%   // Переписать через гриды
        height: 555px
        background-color: #f4f4f4
        display: flex
        margin-left: 50px
        flex-direction: column
        justify-content: space-evenly
        align-items: flex-start
        align-content: center
        color: $primary-text
    
    &__rating
        font-size: 27px
        margin-left: 30px
        span
            color: rgb(138, 191, 82)
            font-size: 35px
    &__item
        font-size: 20px
        margin-left: 30px
        margin-right: 20px
        span
            font-size: 17px
            font-weight: 300