@use "../../../style/variables";
@use "../../../style/mixins";

.add-restaurant-form {
    margin: 50px 0 50px 0;
    padding: 40px 30px 30px 30px;
    width: 65%;
    border: 1px solid grey;
    border-radius: 10px;
    transition: 1s all;

    &__title {
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 30px;
        color: variables.$primary-text;
    }

    // &__btn-submit {
    &__button {
        height: 50px;
        width: fit-content;
        color: variables.$primary-text;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid grey;
        border-radius: 5px;
        &.submit-button {
            margin-top: 20px;
        }
    }
    &__images-previews {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .preview-wrapper {
            position: relative;
            height: 120px;
            width: 120px;
            overflow: hidden;
            border-radius: 5px;
        }
        .selected-preview {
            outline: 3px solid variables.$green-color;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__helper-text {
        font-size: 1.1rem;
        color: rgb(221, 39, 39);
        &.selected {
            color: rgb(0, 125, 0);
        }
    }
    &__icon {
        color: variables.$green-color;
    }

    &__wrapper {
        display: flex;
    }

    &__alert {
        height: 50px;
        margin-top: 30px;
        margin-left: 20px;
    }

    &__spinner {
        height: 50px;
        width: 50px;
        transform: translateY(60%);
    }
    &__upload-images {
        height: 50px;
        width: 200px;
        color: variables.$primary-text;
    }
}
.hide {
    display: none;
}

.show {
    display: block;
}
