@use "../../../style/variables";
@use "../../../style/mixins";

.add-restaurant-form {
    margin: 50px 0 50px 0;
    padding: 40px 30px 30px 30px;
    width: 65%;
    border: 1px solid grey;
    border-radius: 10px;
    transition: 1s all;

    &__title {
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 30px;
        color: variables.$primary-text;
    }

    &__btn-submit {
        margin: 30px 0;
        height: 50px;
        width: 160px;
        color: variables.$primary-text;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid grey;
        border-radius: 5px;
    }

    &__icon {
        color: variables.$green-color;
    }

    &__wrapper {
        display: flex;
    }

    &__alert {
        height: 50px;
        margin-top: 30px;
        margin-left: 20px;
    }

    &__spinner {
        height: 50px;
        width: 50px;
        transform: translateY(60%);
    }
}
.hide {
    display: none;
}

.show {
    display: block;
}
