.main-page-header {
    width: 100%;
    height: 100vh;
    background: url("../../assets/Kazan_sketch.PNG") fixed no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
}
.search-bar {
    padding-top: 150px;
    width: 50%;
    margin: 0 auto;
}
.search-results {
    &__list {
        width: 100%;
        overflow: scroll;
        max-height: 150px;
        &.show {
            display: block;
        }
        &.hide {
            display: none;
        }

        &_item {
            padding-left: 20px;
            display: block;
            line-height: 40px;
            background-color: rgba(240, 240, 240, 0.6);
            font-weight: 300;
            border-bottom: 1px solid #dddddd;
            transition: background-color 0.2s;
            &:last-child {
                border-radius: 0 0 10px 10px;
            }
            &:hover {
                background-color: rgba(224, 224, 224, 0.9);
            }
            &.no-results {
                color: #989898;
            }
        }
    }
}

@media (max-width: 980px) {
    .search-bar {
        width: 70%;
    }
}
