@use "../../style/variables";
@use "../../style/mixins";

.navbarItems {
    margin-left: 72%;
}
.navbar-menu {
    &__username {
        line-height: 35px;
        padding-left: 20px;
        border-bottom: variables.$divider-style;
        color: #605d5d;
    }
}
