@use "../../style/variables";
@use "../../style/mixins";

.navbar {
    &__items {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &_left-side {
            display: flex;
            align-items: center;
        }
        &_right-side {
            display: flex;
            align-items: center;
        }
    }
}

.navbar-menu {
    &__username {
        line-height: 35px;
        padding-left: 20px;
        border-bottom: variables.$divider-style;
        color: #605d5d;
    }
}
.navbar-spinner {
    height: 40px;
    width: 40px;
    display: inline-block;
}
