@import '../../style/variables'
@import '../../style/mixins'
    
.navbarItems 
    margin-left: 72%
.MuiToolbar-root
    background-color: rgb(244, 244, 244)
    color: $primary-text
.navbar-menu
    &__username
        line-height: 35px
        padding-left: 20px
        font-size: 17px
        border-bottom: $divider-style
        color: #605d5d
        