@use "../../style/mixins";
@use "../../style/variables";

.login-page {
    min-height: 800px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    &__content {
        padding-top: 150px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    &__title {
        text-align: center;
        font-size: 1.5rem;
        color: variables.$primary-text;
        width: 90%;
        margin-bottom: 15px;
    }
    &__form {
        height: fit-content;
        width: 100%;
        background-color: #fcfcfc;
        border-radius: 10px;
        padding: 30px;
        padding-bottom: 20px;
    }
    &__link {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
        color: #1976d2;
        margin-left: 20px;
        display: block;
    }
    &__actions {
        width: fit-content;
        display: flex;
        align-items: baseline;
    }
}
