@use "../../style/variables";
@use "../../style/mixins";

.page-wrapper {
    padding: 100px 0;
    background-color: variables.$wrapper-color;
}
.event-info {
    &__container {
        width: 50%;
        margin: 0 auto;
    }

    &__title {
        width: 100%;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 20px;
    }
    &__subtitle {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 40px;
        color: #646464;
    }
    &__wrapper {
        padding: 20px;
        border: 2px solid #f0f0f0;
        width: fit-content;
        border-radius: 15px;
        color: variables.$primary-text;
        background-color: #ececec;
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 300;
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: 20px;
    }
    &__image {
        margin-top: 50px;
        width: 100%;
        img {
            border-radius: 15px;
            width: 100%;
        }
    }
    &__content {
        margin-top: 50px;
        background-color: variables.$container-color;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        p {
            font-weight: 300;
            line-height: 1.7;
            text-indent: 30px;
        }
        blockquote {
            @include mixins.blockquote;
        }
        .content__image {
            height: 400px;
            overflow: hidden;
            border-radius: 5px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .content__slider {
            height: 500px;
            & > .swiper {
                border-radius: 5px;
            }
        }
    }
    &__added {
        font-size: 1.3rem;
        font-weight: 300;
        color: variables.$primary-text;
        span {
            font-style: italic;
        }
    }
    &__leave-comment {
        margin-top: 90px;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1.2px;
    }
    &__comments {
        margin: 0 auto;
        width: 55%;
    }
}
