@use "../../style/mixins";
@use "../../style/variables";

.long-card {
    &__container {
        cursor: pointer;
        height: fit-content;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        box-shadow: 10px 7px 15px 0px rgba(34, 60, 80, 0.24);
        border-radius: 10px;
        color: variables.$primary-text;
        transition: 0.5s all;
        align-items: stretch;
        &:hover {
            transform: translateX(20px);
        }
    }
    &__picture {
        width: 33%;
        height: auto;
        margin: 15px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__info {
        width: 67%;
        display: flex;
        flex-direction: column;
    }
    &__header {
        border-bottom: 1.2px solid #e0e0e0;
        flex: 1.2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 1.4rem;
        padding: 15px 20px;
    }
    &__added {
        margin-right: 30px;
        font-style: italic;
        font-weight: 300;
    }
    &__textfield {
        padding: 10px 20px;
        flex: 2.1;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        line-height: 1.5;
        border-bottom: 1.2px solid #e0e0e0;
        flex-direction: column;
        width: 99%;
        font-weight: 300;
        gap: 15px;
        .wrapper {
            display: flex;
            flex-direction: row;
            width: 90%;
            align-items: flex-start;
            justify-content: flex-start;
            font-weight: 400;
        }

        .label {
            width: 25%;
            font-weight: 300;
        }
        .text {
            width: 75%;
        }
    }

    &__rating {
        flex: 0.7;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 981px) {
    .long-card {
        &__textfield {
            .label {
                width: 30%;
            }
            .text {
                width: 70%;
            }
        }
    }
}

@media (max-width: 650px) {
    .long-card {
        &__container {
            &:hover {
                transform: translateX(10px);
            }
        }
        &__picture {
            margin: 10px;
        }
        &__title {
            font-size: 1rem;
            padding: 5px;
        }
        &__added {
            display: none;
        }
        &__textfield {
            font-size: 0.9rem;
            padding: 5px;
            line-height: 1.1;
            // font-weight: normal;
            gap: 10px;
            .wrapper {
                font-size: 0.8rem;
            }
            .label {
                width: 40%;
            }
            .text {
                width: 60%;
            }
        }
        &__rating {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-right: 15px;
            span {
                font-size: 14px;
            }
        }
    }
}
