@use "../../style/mixins";

.footer {
    min-height: 250px;
    width: 100%;
    background-color: #545454;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    &__information {
        width: 35%;
        border-right: 1px solid #828282;
        display: flex;
        flex-direction: column;
    }
    &__title {
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 20px;
        color: #afafaf;
    }
    &__reg {
        @include mixins.light-text;
        margin-top: 20px;
        flex-grow: 1;
        p {
            color: #afafaf;
            margin: 0 17px 0 17px;
            line-height: 20px;
        }
    }
    &__links {
        width: 65%;
        display: flex;
        flex-direction: column;
    }
    &__navigation {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;

        &_item {
            color: #afafaf;
            font-size: 1.2rem;
        }
    }
    &__icon {
        transform: translateY(5px);
        margin-right: 5px;
    }
    &__social {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &_link {
            // line-height: 120px;
            a {
                font-size: 2.5rem;
                color: #afafaf;
            }
        }
    }
}

@media (max-width: 780px) {
    .footer {
        &__title {
            font-size: 2.5rem;
        }
        &__reg {
            font-size: 0.8rem;
        }
    }
}
@media (max-width: 480px) {
    .footer {
        &__title {
            font-size: 2rem;
        }
        &__reg {
            font-size: 0.6rem;
        }
        &__navigation {
            flex-direction: column;
            height: fit-content;
        }
        &__social {
            &_link {
                a {
                    font-size: 2rem;
                }
            }
        }
    }
}
