@use "../../style/mixins";
@use "../../style/variables";

.long-card-small {
    &__container {
        height: fit-content;
        box-shadow: 5px 3px 5px 0px rgba(34, 60, 80, 0.24);
        width: 100%;
        border-radius: 5px;
        background-color: #f8f8f8;
        color: variables.$primary-text;
        display: flex;
        overflow: hidden;
        &.event-passed {
            opacity: 0.5;
        }
    }
    &__image {
        width: 22%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__info {
        width: 78%;
        padding: 10px 10px 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
        &_name {
            font-size: 1.2rem;
        }

        &_description {
            font-weight: 300;
            font-size: 1rem;
        }
        &_valid-dates {
            font-weight: 300;
            font-style: italic;
            font-size: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .long-card-small {
        &__image {
            width: 30%;
        }
        &__info {
            width: 70%;
            &_name {
                font-size: 1rem;
            }
            &_description {
                font-size: 0.9rem;
            }
            &_valid-dates {
                font-size: 0.7rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .long-card-small {
        &__info {
            &_name {
                font-size: 0.9rem;
            }
            &_description {
                font-size: 0.7rem;
            }
            &_valid-dates {
                font-size: 0.6rem;
            }
        }
    }
}
