@import '../../style/mixins'
@import '../../style/variables'





.page-wrapper 
    background-color: $wrapper-color
    padding: 100px 0 

.doner-topic
    &__container
        margin: 0 auto
        width: 60%
        background-color: $container-color
        padding: 40px
        border-radius: 15px

    &__title
        font-size: 2.5rem
        font-weight: 400
        margin-bottom: 70px
        
        
    &__subtitle
        margin-top: 15px
        font-size: 1.5rem
        font-weight: 300
        padding-bottom: 30px
        border-bottom: $divider-style
        

    &__image
        height: 500px
        width: 100%

        img
            height: 100%
            width: 100%
            object-fit: cover
            border-radius: 15px

    &__content
        @include light-text
        p
            text-indent: 30px
            margin: 20px
        blockquote
            @include blockquote

        .content__slider
            height: 550px
            width: 100%
            margin-bottom: 100px

    &__rating
        font-size: 1.3rem
        margin-bottom: 40px
        font-style: italic
        color: $primary-text

        

    &__author
        font-size: 1.3rem
        margin-bottom: 40px
        font-style: italic
        color: $primary-text
        span
            font-weight: 300

    &__published
        font-size: 1.3rem
        font-style: italic
        padding-bottom: 30px
        color: $primary-text
        border-bottom: $divider-style
        span
            font-weight: 300
    &__comments
        margin: 0 auto
        width: 60%

