@use "../../../style/mixins";
@use "../../../style/variables";
@use "../../../style/animations";

.additional-review-form {
    width: 65%;
    height: fit-content;
    box-shadow: 2px 1px 20px -3px rgba(34, 60, 80, 0.15);
    border-radius: 0 0 20px 20px;
    &.hide-with-animation {
        visibility: hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.5s, max-height 0.2s, transform 1s;
        margin-top: -50px;
    }
    &.show-with-animation {
        visibility: visible;
        max-height: 100vh;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s 0.2s, max-height 1s, transform 1s;
    }
}
