@use "../../style/variables";
@use "../../style/mixins";

.restaurant-info {
    &__container {
        width: 90%;
        margin: 0 auto;
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
    }
    &__name {
        width: 50%;
        font-size: 40px;
        margin-bottom: 50px;
        font-weight: 350;
        padding-bottom: 15px;
        border-bottom: variables.$green-divider;
    }
    &__slider {
        height: 550px;
        width: 60%;
        & > .swiper {
            border-radius: 10px;
        }
    }
}
